<div class="container">
  <!-- upper container -->
  <div class="upper-container">
    <!-- team picture container -->
    <div class="team-picture">
      <img src="../../public/img/team.jpeg">
    </div>
    <!-- heading -->
    <div class="heading">
      <!-- sub-heading -->
      <div class="sub-heading">
        <!-- about-heading -->
        <div class="about-heading">
          <span>ABOUT</span>
        </div>
        <div class="seds-heading">
          <span>SEDS</span>
        </div>
        <hr color="#3940D0" size="4" width="60%">
        </div>
    </div>
  </div>
  <!-- lower container -->
  <div class="content-container">
    <span>Serving as the national headquarters, SEDS VIT aims to promote interest in space exploration in students
      across India and increase inter-chapter collaboration. With its various conferences, events, competitions and
      outreach programmes, the chapter has been a guiding light for the students in and around Vellore, and has
      earned the award for Best Student Chapter in VIT three times since its inception.</span>
  </div>
</div>
