<div class="board__card__blue">
  <div class="board__card__blue__designation">
    <span>Manager</span>
  </div>
  <div class="board__card__blue__profile">
    <div class="board__card__blue__profile__pic">
      <img src="https://sedsindia.org/sedsvit/pics/Board/Mittal.png" alt="" />
    </div>
    <div class="board__card__blue__profile__info">
      <div class="board__card__blue__profile__info__name">
        <span>Adittya<br>Mittal</span>
        <div class="board__card__blue__profile__info__name__underline">
          <div
            class="board__card__blue__profile__info__name__underline__hr"
          ></div>
          <div
            class="board__card__blue__profile__info__name__underline__dot"
          ></div>
          <div
            class="board__card__blue__profile__info__name__underline__hr"
          ></div>
        </div>
      </div>
      <div class="board__card__blue__profile__info__quote">
        <div class="board__card__blue__profile__info__quote__comma comma--left">
          "
        </div>
        <div class="board__card__blue__profile__info__quote__text">
          <!-- Life is simple. Our
            <div style="transform: rotate(180deg);">PERSPECTIVE</div>
            isn't! -->
          <div>
            Make your life worth watching when it flashes before your eyes.
          </div>
        </div>
        <div
          class="board__card__blue__profile__info__quote__comma comma--right"
        >
          "
        </div>
      </div>
      <div class="board__card__blue__profile__info__social">
        <div class="board__card__blue__profile__info__social__link">
            <a href=""><i class="fa fa-instagram"></i></a>
        </div>
        <div class="board__card__blue__profile__info__social__link">
            <a href=""><i class="fa fa-envelope"></i></a>
        </div>
        <div class="board__card__blue__profile__info__social__link">
            <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
