<!-- Home Section -->
<div class="countdown__container">
  <div id="particles__container"></div>
  <div id="countdown">
    <span id="event__meeting__link"><%=eventMeetingLink %></span>
    <span id="date__value"><%=eventDate %></span>
    <p class="countdown__tag">Event live in</p>
    <div class="countdown__clock">
      <div class="countdown__item">
        <p class="countdown__value" id="days">00</p>
        <p class="countdown__label">days</p>
      </div>
      <div class="countdown__item">
        <p class="countdown__value" id="hours">00</p>
        <p class="countdown__label">hours</p>
      </div>
      <div class="countdown__item">
        <p class="countdown__value" id="minutes">00</p>
        <p class="countdown__label">minutes</p>
      </div>
      <div class="countdown__item">
        <p class="countdown__value" id="seconds">00</p>
        <p class="countdown__label">seconds</p>
      </div>
    </div>
  </div>
</div>
