<!-- Events Container -->
<div class="events-container">
  <!-- Events Heading Container -->
  <div class="events-heading">
    <span>Events</span>
    <hr width="70" color="#3940D0" size="3" align="center" />
  </div>
  <!-- Events Content Container -->
  <div class="events-parent">
    <!-- Events Gravitas Container -->
    <div class="events-gravitas">
      <!-- Events Gravitas Heading Container -->
      <div class="events-gravitas-heading">
        <span>Gravitas</span>
      </div>
      <!-- Events Gravitas Carousel Container -->
      <div
        id="events-gravitas-carousel"
        class="lazy-gravitas slider"
        data-sizes="50vw"
      >
        <div class="events-carousel-image-gravitas">
          <img
            data-lazy="/img/Star-Party.png"
            data-srcset="/img/Star-Party.png"
            data-sizes="50vw"
            class="events-carousel-image"
          />
          <div class="learn-more">
            <a href=""><button>learn more</button></a>
          </div>
        </div>
        <div class="events-carousel-image-gravitas">
          <img
            data-lazy="/img/Apollo-Infinite.png"
            data-srcset="/img/Apollo-Infinite.png"
            data-sizes="50vw"
            class="events-carousel-image"
          />
          <div class="learn-more">
            <a href=""><button>learn more</button></a>
          </div>
        </div>
        <div class="events-carousel-image-gravitas">
          <img
            data-lazy="/img/Astronaut-Odyssey.png"
            data-srcset="/img/Astronaut-Odyssey.png"
            data-sizes="50vw"
            class="events-carousel-image"
          />
          <div class="learn-more">
            <a href=""><button>learn more</button></a>
          </div>
        </div>
      </div>
      <!-- Events Gravitas learn More Button  -->
    </div>
    <!-- Events Flagship Container -->
    <div class="events-flagship">
      <!-- Events Flagship Heading Container -->
      <div class="events-flagship-heading">
        <span>Flagship</span>
      </div>
      <!-- Events Flagship Carousel Container -->
      <div
        id="events-flagship-carousel"
        class="lazy-flagship slider"
        data-sizes="50vw"
      >
        <div class="events-carousel-image-flagship">
          <img
            data-lazy="/img/Astra.png"
            data-srcset="/img/Astra.png"
            data-sizes="50vw"
          />
          <div class="learn-more">
            <a href=""><button>learn more</button></a>
          </div>
        </div>
        <div class="events-carousel-image-flagship">
          <img
            data-lazy="/img/Antariksh.png"
            data-srcset="/img/Antariksh.png"
            data-sizes="50vw"
            class="events-carousel-image"
          />
          <div class="learn-more">
            <a href=""><button>learn more</button></a>
          </div>

        </div>
        <div class="events-carousel-image-flagship">
          <img
            data-lazy="/img/Astra.png"
            data-srcset="/img/Astra.png"
            data-sizes="50vw"
          />
          <div class="learn-more">
            <a href=""><button>learn more</button></a>
          </div>
        </div>
        <div class="events-carousel-image-flagship">
          <img
            data-lazy="/img/Antariksh.png"
            data-srcset="/img/Antariksh.png"
            data-sizes="50vw"
            class="events-carousel-image"
          />
          <div class="learn-more">
            <a href=""><button>learn more</button></a>
          </div>

        </div>
      </div>
      <!-- Events Flagship learn More Button  -->
    </div>
  </div>
</div>
