<!-- Events Section -->
<div class="events-container" id="events">
  <!-- Events Heading Container -->
  <div class="events-heading">
    <span>Events</span>
    <hr width="70" color="#3940D0" size="3" align="center" />
  </div>
  <!-- Events Content Container -->
  <div class="events-parent">
    <!-- Events Gravitas Container -->
    <div class="events-gravitas">
      <!-- Events Gravitas Heading Container -->
      <div class="events-gravitas-heading">
        <span>Gravitas</span>
      </div>
      <!-- Events Gravitas Carousel Container -->
      <div
        id="events-gravitas-carousel"
        class="lazy-gravitas slider"
        data-sizes="50vw"
      >
        <div class="events-carousel-image-gravitas">
          <img
            data-lazy="/img/Star-Party.png"
            data-srcset="/img/Star-Party.png"
            data-sizes="50vw"
            class="events-carousel-image"
          />
        </div>
        <div class="events-carousel-image-gravitas">
          <img
            data-lazy="/img/Apollo-Infinite.png"
            data-srcset="/img/Apollo-Infinite.png"
            data-sizes="50vw"
            class="events-carousel-image"
          />
        </div>
        <div class="events-carousel-image-gravitas">
          <img
            data-lazy="/img/Astronaut-Odyssey.png"
            data-srcset="/img/Astronaut-Odyssey.png"
            data-sizes="50vw"
            class="events-carousel-image"
          />
        </div>
      </div>
      <div class="learn-more events-learn-button-gravitas">
        <a class="waves-effect waves-light modal-trigger" href=""><button>Learn More</button></a>
      </div>
      <!-- Events Gravitas learn More Button  -->
    </div>
    <!-- Events Flagship Container -->
    <div class="events-flagship">
      <!-- Events Flagship Heading Container -->
      <div class="events-flagship-heading">
        <span>Flagship</span>
      </div>
      <!-- Events Flagship Carousel Container -->
      <div
        id="events-flagship-carousel"
        class="lazy-flagship slider"
        data-sizes="50vw"
      >
        <div class="events-carousel-image-flagship">
          <img
            data-lazy="/img/Astra.png"
            data-srcset="/img/Astra.png"
            data-sizes="50vw"
          />
        </div>
        <div class="events-carousel-image-flagship">
          <img
            data-lazy="/img/Antariksh.png"
            data-srcset="/img/Antariksh.png"
            data-sizes="50vw"
            class="events-carousel-image"
          />
        </div>
        <div class="events-carousel-image-flagship">
          <img
            data-lazy="/img/Astra.png"
            data-srcset="/img/Astra.png"
            data-sizes="50vw"
          />
        </div>
        <div class="events-carousel-image-flagship">
          <img
            data-lazy="/img/Antariksh.png"
            data-srcset="/img/Antariksh.png"
            data-sizes="50vw"
            class="events-carousel-image"
          />

        </div>
        
      </div>
      <div class="learn-more events-learn-button-flagship">
        <a class="waves-effect waves-light modal-trigger" href=""><button>Learn More</button></a>
      </div>
      <!-- Events Flagship learn More Button  -->
    </div>
  </div>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>ASTRA</h4>
      <hr width="100" color="#3940D0" size="3" />
      <p>A first-of-its-kind satellite design based hackathon of India – Astra is conducted by SEDS-VIT. Astra is organized with the sole purpose of keeping up with changing trends and driving innovation in the field of space exploration. The hack consists of three rounds, where teams from all over India and abroad, were given problem statements based on real-life challenges with a multifaceted judging panel brimming with experience in engineering and astronomy to mentor and evaluate the participants.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect btn-flat">CLOSE</a>
    </div>
  </div>
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>ANTARIKSH</h4>
      <hr width="100" color="#3940D0" size="3" />
      <p>The OneSpace Initiative by SEDS India lives by the motto of educating the youth about the wonders of astronomy and space science. To accomplish this, OneSpace introduced Antariksh, a one-day space-themed fest, for local school students looking to delve deeper into the cosmos. It sees kids from in and around Vellore visit our campus for a fun-filled yet enriching day.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect btn-flat">CLOSE</a>
    </div>
  </div>
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>STAR PARTY</h4>
      <hr width="100" color="#3940D0" size="3" />
      <p>Star Party is an annual stargazing event which is held by SEDS VIT every year during GraVITas. It focuses on the observational astronomy whereby different celestial and deep sky objects are viewed through the telescopes and binoculars by the participants. The histories, myths, the scientific reasoning and facts of these deep sky objects are also discussed during the stargazing session.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect btn-flat">CLOSE</a>
    </div>
  </div>
  <div id="modal4" class="modal">
    <div class="modal-content">
      <h4>APOLLO INFINITE</h4>
      <hr width="100" color="#3940D0" size="3" />
      <p>Apollo Infinite is one of our most awaited events for the tech fest, GraVITas. It is a workshop that tackles the more technical side of astronomy; space-flight. After a short session covering the physics behind rocket propulsion and orbital mechanics, we use real-time flight simulators such as Kerbal Space Program(KSP) and Orbiter to provide our participants with hands-on experience in the construction, launching and manoeuvring of a rocket. We guide the participants to design their rockets from scratch and take them to the Moon. The event focuses on providing deep insights into real-world space exploration with a few competitive tasks.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect btn-flat">CLOSE</a>
    </div>
  </div>
  <div id="modal5" class="modal">
    <div class="modal-content">
      <h4>ASTRONAUT'S ODYSSEY</h4>
      <hr width="100" color="#3940D0" size="3" />
      <p>Astronaut's Odyssey, introduced for GraVITas 2019, was the head starter of the tech-fest for SEDS. A first of its kind experience, here, the participants are sent to a make-belief world of astronauts. It helped everyone develop an insight into the hows and whys in the life of an astronaut. Brainwaved with needed know-how in the field of astronomy, the participants are provided with real-life situations that astronauts encounter.
        <br>
        The event was an amalgamation of potential mission challenges and opportunities that an astronaut can face, ranging from Challenger and Columbia to the remarkable courage displayed by Apollo 13 astronauts. The situations given closely resonated with the extreme conditions of space, and gave them a chance to think like an astronaut.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect btn-flat">CLOSE</a>
    </div>
  </div>
</div>
