<div class="footer__external">
    <div class="footer">
        <div class="footer__follow__us">
          <div class="footer__follow__us__icons">
            <div class="footer__icon" id="icon__twitter">
                <a href=""><img src="img/Asset 14.svg" alt=""></a>
            </div>
            <div class="footer__icon" id="icon__insta">
              <a href=""><img src="img/Asset 11.svg" alt=""></a>
            </div>
            <div class="footer__icon" id="icon__facebook">
              <a href=""><img src="img/Asset 12.svg" alt=""></a>
            </div>
            <div class="footer__icon" id="icon__linkedin">
              <a href=""><img src="img/Asset 13.svg" alt=""></a>
            </div>
          </div>
          <div class="footer__follow__us__text">
            <div class="hr"></div>
            <span class="footer__heading">Follow Us</span>
            <div class="hr"></div>
          </div>
        </div>
        <div class="footer__logo__and__dev">
          <div class="footer__logo">
            <img src="img/vtNebula Black.png" alt="" />
          </div>
          <div class="footer__dev">
            <span>designed & developed by <b>SEDS - VIT</b></span>
          </div>
        </div>
        <div class="footer__reach__us">
          <div class="footer__reach__us__icons">
            <div class="footer__reach__us__icons__icon">
                <div class="footer__icon">
                    <a href=""><img src="img/Capa 1.svg" alt=""></a>
                </div>
            </div>
            <div class="footer__reach__us__icons__mail">
                <span>vit.sedsindia@gmail.com</span><br>
                <span>marketing.sedsvit@gmail.com</span>
            </div>
          </div>
          <div class="footer__reach__us__text">
            <div class="hr"></div>
            <span class="footer__heading">Reach Us</span>
            <div class="hr"></div>
          </div>
        </div>
      </div>
      
</div>
