<div class="home__container" id="home">
  <div class="gradient-container">
    <!-- mars spinner -->
    <div class="mars">
      <div></div>
    </div>
    <!-- mars spinner end -->

    <!-- text content -->
    <div class="main-content">
      <div class="heading">
        <span>SEDS <span>VIT</span></span>
      </div>
      <div class="sub-heading">
        <span> Students for the exploration and development of space </span>
      </div>
      <div class="quote">
        <span> Think Infinite... </span>
      </div>
    </div>
  </div>
  <!-- text content end -->

  <!-- social media links -->
  <div class="social-media-links">
    <div class="social-link" id="facebook">
      <a href="https://www.facebook.com/SEDSVIT"><img src="/icons/FBpeach.svg" alt="" /></a>
    </div>
    <div class="social-link" id="twitter">
      <a href="https://twitter.com/SEDS_VIT"><img src="/icons/Twitterpeach.svg" alt="" /></a>
    </div>
    <div class="social-link" id="insta">
      <a href="https://www.instagram.com/sedsvit/"><img src="/icons/Instapeach.svg" alt="" /></a>
    </div>
    <div class="social-link" id="linkedin">
      <a href="https://www.linkedin.com/company/students-for-exploration-and-development-of-space"><img
          src="/icons/Linkedinpeach.svg" alt="" /></a>
    </div>
  </div>
  <!-- social media links end -->

  <a href="#about">
    <div class="scrolldown">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
</div>