<nav>
  <div class="logo">
    <img src="img/logo.png" alt="" height="35px" />
  </div>
  <ul class="nav-links">
    <li class="underline-from-center">
      <a href="">Home</a>
    </li>
    <li class="underline-from-center">
      <a href="">About</a>
    </li>
    <li class="underline-from-center">
      <a href="">Events</a>
    </li>
    <li class="underline-from-center">
      <a href="">Blog</a>
    </li>
    <li class="underline-from-center">
      <form action="/board" method="get">
        <input type="submit" value="Team" />
      </form>
    </li>
    <li class="underline-from-center">
      <form action="/alumni" method="get">
        <input type="submit" value="Alumni" />
      </form>
    </li>
    <li>
      <a href="" class="nav-links-conact-us">Contact Us</a>
    </li>
  </ul>
  <div class="burger">
    <center>
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </center>
  </div>
</nav>
<script src="scripts/navbar.js"></script>
