<!-- container -->
<div name="whatwedo" id="whatwedo" class="whatwedo-container">
    <!-- child container -->
    <div class="whatwedo-child-container">
      <!-- heading container -->
      <div class="whatwedo-heading">
        <span>What we do</span>
        <hr color="#FFBE85" size="4" width="36%">
      </div>
      <!-- core-container -->
      <div class="whatwedo-core-container"></div>
      <!-- Core Gradient Div -->
      <div class="whatwedo-core-grad">
        <span id="core-span">Core</span>
      </div>
      <!-- Core Content -->
      <div class="whatwedo-core-content">
        <span id="whatwedo-core-content-span">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor, lacus commodo porta sagittis,
          ex sem feugiat magna, non dictum mi dolor vel elit. In sed nibh lorem. Ut fringilla, metus id pretium porta,
          ante mauris semper neque, quis gravida nisi magna in augue. Vivamus consectetur mollis felis at tempus. Nunc
          a dignissim est. Donec aliquet sollicitudin enim, non hendrerit purus bibendum quis. Etiam ac dui eu elit
          porta lacinia ac eget mauris.
        </span>
      </div>
      <!-- outreach-container -->
      <div class="whatwedo-outreach-container">
      </div>
      <!-- Outreach Gradient Div -->
      <div class="whatwedo-outreach-grad">
        <span id="whatwedo-outreach-span">Outreach</span>
      </div>
      <!-- Outreach Content-->
      <div class="whatwedo-outreach-content">
        <span id="whatwedo-outreach-content-span">
          Lorem ipsum dolor sit amet, consec adipiscing elit. Integer tempor, lacus commodo porta sagittis,
          ex sem feugiat magna, non dictum mi dolor vel elit. In sed nibh lorem. Ut fringilla, metus id pretium porta,
          ante mauris semper neque, quis gravida nisi magna in augue.
        </span>
      </div>
      <!-- projects-container -->
      <div class="whatwedo-projects-container"></div>
      <!-- Projects Gradient Div -->
      <div class="whatwedo-projects-grad">
        <span id="whatwedo-projects-span">Projects</span>
      </div>
      <!-- Projects Content -->
      <div class="whatwedo-projects-content">
        <span id="whatwedo-projects-content-span">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor, lacus commodo porta sagittis,
          ex sem feugiat magna, non dictum mi dolor vel elit. In sed nibh lorem. Ut fringilla, metus id pretium porta,
          ante mauris semper neque, quis gravida nisi magna in augue. Vivamus consectetur mollis felis at tempus. Nunc
          a dignissim est. Donec aliquet sollicitudin enim, non hendrerit purus bibendum quis. Etiam ac dui eu elit
          porta lacinia ac eget mauris.
        </span>
      </div>
    </div>
</div>