<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/board-member-card.css" />
    <link rel="stylesheet" href="css/board.css" />
    <link rel="stylesheet" href="css/navbar.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include ('partials/navbar.ejs') %> 
    <h1>The team that makes it possible</h1>
    <%- include ('partials/board-member-card-blue.ejs') %>
  </body>
</html>
