<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="css/whatwedo.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="scripts/whatwedo.js"></script>
    <title>SEDS VIT</title>
    <style>
      html {
        scroll-behavior: smooth;
        overflow-x: hidden;
      }
    </style>
  </head>
  <body>
    <%- include ('partials/home.ejs') %> <%- include ('partials/about.ejs') %>
    <%- include ('partials/whatwedo.ejs') %>
  </body>
</html>
