/* Web fonts */
@font-face {
  font-family: "Acherus Grotesque Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Acherus Grotesque Regular"),
    url("../fonts/AcherusGrotesqueRegular.woff2")
      format("woff2");
}

@font-face {
  font-family: "Acherus Grotesque Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acherus Grotesque Regular Italic"),
    url("../fonts/AcherusGrotesqueRegularItalic.woff2")
      format("woff2");
}

@font-face {
  font-family: "Graphik Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Graphik Regular"),
    url("../fonts/GraphikRegular.woff2")
      format("woff2");
}

/* body */
hr {
 margin-left: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  padding: 20px;
}

.upper-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse; /* to add */
  height: 80%;
}

.team-picture {
  flex: 1;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.team-picture img{
  width: 650px;
  height:370px;
  box-shadow: 25px 15px #A5A5A5;
      -moz-box-shadow: 25px 15px #A5A5A5;
      -webkit-box-shadow: 25px 15px #A5A5A5;
      -khtml-box-shadow: 25px 15px #A5A5A5;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.sub-heading {
  margin: auto;
  margin-left: 100px;
}

.about-heading span{
  font-family: "Acherus Grotesque Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 100pt;
  line-height: 126px;
  letter-spacing: 0.065em;
  text-transform: capitalize;
  color: #000000;
}

.seds-heading span{
  font-family: "Acherus Grotesque Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 50pt;
  line-height: 126px;
  letter-spacing: 1.63em;
  text-transform: capitalize;
  color: #000000;
}

.content-container {
  flex: 1;
  margin-top: 80px;
  text-align: justify;
}

.content-container span{
  font-family: "Graphik Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18pt;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #000000;
}