/* Web fonts */
@font-face {
  font-family: "Acherus Grotesque Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Acherus Grotesque Regular"),
    url("../fonts/AcherusGrotesqueRegular.woff2") format("woff2");
}

@font-face {
  font-family: "Acherus Grotesque Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acherus Grotesque Regular Italic"),
    url("../fonts/AcherusGrotesqueRegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Graphik Regular"),
    url("../fonts/GraphikRegular.woff2") format("woff2");
}

/* body */
.about-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
}

.about-container hr {
  margin-left: 70px;
}

.about-upper-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-top: 60px;
  height: 80%;
}

.about-team-picture {
  flex: 1;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.about-team-picture img {
  width: 570px;
  height: 380px;
  box-shadow: 25px 15px #a5a5a5;
  -moz-box-shadow: 25px 15px #a5a5a5;
  -webkit-box-shadow: 25px 15px #a5a5a5;
  -khtml-box-shadow: 25px 15px #a5a5a5;
}

.about-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.about-sub-heading {
  margin: auto;
  margin-left: 100px;
}

.about-about-heading span {
  font-family: "Acherus Grotesque Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 100pt;
  line-height: 126px;
  letter-spacing: 0.065em;
  text-transform: capitalize;
  color: #000000;
}

.about-seds-heading span {
  font-family: "Acherus Grotesque Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 50pt;
  line-height: 126px;
  letter-spacing: 1.63em;
  text-transform: capitalize;
  color: #000000;
}

.about-content-container {
  flex: 1;
  margin-top: 80px;
  text-align: justify;
  padding-left: 80px;
  padding-right: 80px;
}

.about-content-container span {
  font-family: "Graphik Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18pt;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: #000000;
  
}
