@font-face {
  font-family: "AcherusGrotesque-ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("AcherusGrotesque-ExtraBold"), url("../fonts/AcherusGrotesque-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Acherus Grotesque Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Acherus Grotesque Medium"), url("../fonts/AcherusGrotesqueMedium.woff2") format("woff");
}

#blog {
  min-height: 100vh;
  background: white;
  box-sizing: border-box;
  padding-bottom: 64px;
}

.blogs-heading {
  flex: 1;
  font-family: "Acherus Grotesque Regular";
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.8vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
}

#medium-widget {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  #medium-widget {
    flex-direction: column;
  }
}
.medium-widget-article__content {
  background-color: white !important;
  padding: 15px;
  box-sizing: border-box;
  font-family: "Acherus Grotesque Regular";
  width: 33.33%;
  margin: 0px 10px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 6px 8px 14px 2px rgba(0, 0, 0, 0.16);
  min-height: 150px !important;
}

@media (max-width: 768px) {
  .medium-widget-article__content {
    width: 100%;
    margin: 10px 0px;
  }
}

.medium-widget-article__content * {
  color: #120c6e !important;
}
.medium-widget-article__values {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.medium-widget-article__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px !important;
  font-family: "AcherusGrotesque-ExtraBold";
  color: #120c6e !important;
  text-align: center;
}

/* .medium-widget-article__description {
  margin-top: 14px !important;
  font-size: 18px !important;
  font-family: "Acherus Grotesque Regular";
  font-weight: 300 !important;
} */

.medium-widget-article__image {
  background: white;
}
.medium-widget-article__author {
  font-size: 14px !important;
  font-family: "Acherus Grotesque Medium";
  font-weight: bold;
  color: #120c6e !important;
  text-align: center;
}

.medium-widget-article__date {
  font-size: 10px !important;
  text-align: center;
  color: black !important;
  font-weight: lighter !important;
}

.explore-more {
  margin-top: 20px;
}

.explore-more button {
  width: 200px;
  border: 1px solid #3940d0;
  border-left: 5px solid white;
  padding: 10px;
  font-family: "Acherus Grotesque Regular";
  /* background: #3940d0; */
  font-size: 16px;
  /* color: #f8d3b5; */
  color: white;
  /* border-radius: 5px; */
  background: linear-gradient(to right, white 50%, #3940d0 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  outline: none;
  box-shadow: 6px 8px 14px 2px rgba(0, 0, 0, 0.16);
}

.explore-more button:hover {
  background-position: left bottom;
  border: 1px solid #3940d0;
  color: #3940d0;
  cursor: pointer;
}

.medium-widget-article__image img {
  border-radius: 5px;
  margin-bottom: 0 !important;
  width: 100%;
  /* height: auto; */
  aspect-ratio: 1;
  padding-bottom: 0%;
  object-fit: cover;
}
