/* Web fonts */
@font-face {
  font-family: "Acherus Grotesque Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Acherus Grotesque Regular"),
    url("../fonts/AcherusGrotesqueRegular.woff2") format("woff");
}

@font-face {
  font-family: "Acherus Grotesque Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acherus Grotesque Regular Italic"),
    url("../fonts/AcherusGrotesqueRegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Graphik Regular"),
    url("../fonts/GraphikRegular.woff2") format("woff2");
}

/* Carousel */
.slider {
  width: 50%;
  margin: 30px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

/* Events Parent Container */
.events-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ffffff;
  padding-bottom: 64px;
}

/* Events Heading Container */
.events-heading {
  flex: 1;
  font-family: "Acherus Grotesque Regular";
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.8vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

/* Desktop View: Content Container, Gravitas Carousel, Flagship Carousel & Learn More Buttons */
@media only screen and (min-width: 670px) {
  .events-parent {
    flex: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #events-gravitas-carousel {
    flex: 2;

    width: 35vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    filter: drop-shadow(6px 6px 9px rgba(0, 0, 0, 0.3));
  }

  #events-flagship-carousel {
    flex: 2;

    width: 35vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 5px 5px;
    filter: drop-shadow(6px 6px 9px rgba(0, 0, 0, 0.3));
  }
}

/* Small Desktop View: Content Container, Gravitas Carousel, Flagship Carousel & Learn More Buttons */
@media only screen and (max-width: 768px) and (min-width: 470px) {
  .events-parent {
    flex: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #events-gravitas-carousel {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 65vh;

    border-radius: 5px 5px 5px 5px;
    filter: drop-shadow(6px 6px 9px rgba(0, 0, 0, 0.3));
  }

  #events-flagship-carousel {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 65vh;

    border-radius: 5px 5px 5px 5px;
    filter: drop-shadow(6px 6px 9px rgba(0, 0, 0, 0.3));
  }
}

/* Mobile View: Content Container, Gravitas Carousel, Flagship Carousel & Learn More Buttons */
@media only screen and (max-width: 470px) {
  .events-parent {
    flex: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #events-gravitas-carousel {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 45vh;

    border-radius: 5px 5px 5px 5px;
    filter: drop-shadow(6px 6px 9px rgba(0, 0, 0, 0.3));
  }

  #events-flagship-carousel {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 45vh;

    border-radius: 5px 5px 5px 5px;
    filter: drop-shadow(6px 6px 9px rgba(0, 0, 0, 0.3));
  }
}

/* Gravitas Content Container */
.events-gravitas {
  flex: 1;
  flex-grow: 1;
  align-items: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Gravitas Heading Container */
.events-gravitas-heading {
  font-family: "Acherus Grotesque Regular";
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.9vh;
  letter-spacing: 0.065em;
  text-align: center;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Flagship Content Container */
.events-flagship {
  flex: 2;
  flex-grow: 1;
  align-items: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  overflow: hidden;
}

/* Flagship Heading Container */
.events-flagship-heading {
  font-family: "Acherus Grotesque Regular";
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.9vh;
  letter-spacing: 0.065em;
  text-align: center;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.events-carousel-image-flagship,
.events-carousel-image-gravitas {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.learn-more {
  margin-top: 20px;
}

.learn-more button {
  width: initial;
  border: 1px solid #3940d0;
  border-left: 5px solid white;
  padding: 10px;
  font-family: "Acherus Grotesque Regular";
  /* background: #3940d0; */
  font-size: 16px;
  /* color: #f8d3b5; */
  color: white;
  /* border-radius: 5px; */
  background: linear-gradient(to right, white 50%, #3940d0 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  outline: none;
  box-shadow: 6px 8px 14px 2px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.learn-more button:hover {
  background-position: left bottom;
  border: 1px solid #3940d0;
  color: #3940d0;
}
