/* Web fonts */
/* Web fonts */
@font-face {
  font-family: "Acherus Grotesque Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Acherus Grotesque Regular"), url("../fonts/AcherusGrotesqueRegular.woff2") format("woff");
}

@font-face {
  font-family: "Acherus Grotesque Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acherus Grotesque Regular Italic"), url("../fonts/AcherusGrotesqueRegular.woff2") format("woff");
}

@font-face {
  font-family: "Graphik Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Graphik Regular"), url("../fonts/GraphikRegular.woff2") format("woff");
}

* {
  scroll-padding-top: 20px;
}

/* body */
body {
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Home section */
.home__container {
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: -2;
  position: relative;
}

.gradient-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  background: transparent;
  background-image: linear-gradient(transparent, black);
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100vh;
}

.gradient-container .main-content {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

/* text content */
.heading {
  margin-top: 28vh;
  text-align: center;
}

.heading > span {
  margin-left: 3vw;
  font-family: "Acherus Grotesque Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 126px;
  letter-spacing: 0.575em;
  text-transform: capitalize;
  color: #ffffff;
}

.heading span span {
  font-weight: normal;
}

.sub-heading {
  margin-top: 1vh;
  text-align: center;
}

.sub-heading span {
  margin-left: 1vw;
  font-family: "Graphik Regular";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.175em;
  text-transform: capitalize;
  color: white;
}

.quote {
  margin-top: 12.5vh;
  text-align: center;
}

.quote span {
  font-family: "Graphik Regular";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.18em;
  text-transform: capitalize;
  color: white;
}
/* text content end */

/* Social media links */
.social-media-links {
  height: 30vh;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.social-link img:hover {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform-origin: center;
  -moz-transform-origin: center;
  -webkit-transform-origin: center;
  transition: 0.25s ease all;
  -moz-transition: 0.25s ease all;
  -webkit-transition: 0.25s ease all;
}
/* Social Media links end */

/* Solar Texture spinner */
.solar__texture {
  background-image: radial-gradient(transparent, black);
  z-index: -2;
  width: 60vw;
  height: 60vw;
  position: absolute;
  top: 30vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
  transform: translateZ(0px) scale(1);
}

.solar__texture:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 100px 2px #000 inset;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.8));
  border-radius: 50%;
  border: none;
}

.solar__texture > div {
  width: 200%;
  height: 100%;
  animation: spin 90s linear alternate infinite;
  /* background-image: url(../img/SolarTextures/mars_bright.jpg); */
  background-size: cover;
  box-shadow: 20px 20px 100px 2px #000 inset;
  border: none;
}
@keyframes spin {
  to {
    transform: translate(-50%, -10%);
  }
}
/* solar texture spinner end */
/* Home section end */

.scrolldown {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 15px;
  height: 15px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #ffbe85;
  border-right: 2px solid #ffbe85;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}
.scrolldown span:nth-child(1) {
  width: 5px;
  height: 5px;
  transform: translate(-10px, -10px);
  animation-delay: -0.4s;
}
.scrolldown span:nth-child(2) {
  width: 10px;
  height: 10px;
  transform: translate(0, 0);
  animation-delay: -0.2s;
}
.scrolldown span:nth-child(3) {
  width: 15px;
  height: 15px;
  transform: translate(10px, 10px);
  animation-delay: 0s;
}
@keyframes animate {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

/* Media Queries */
@media only screen and (max-height: 500px) {
  .social-media-links {
    display: none;
  }

  .scrolldown {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .heading {
    margin-top: 30vh;
  }
  .heading span {
    margin-left: 5vw;
    font-size: 7.5vw;
    line-height: 10vh;
  }

  .sub-heading {
    margin-top: 0vh !important;
    text-align: center;
    width: 80vw;
  }

  .sub-heading span {
    font-size: 2vw;
    line-height: 20px;
  }

  .quote {
    margin-top: 8.5vh;
  }

  .quote span {
    font-size: 15px;
    line-height: 22px;
  }

  .social-media-links {
    flex-direction: row;
    width: 50vw;
    height: auto;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .social-media-links img {
    width: 75%;
  }

  .solar__texture {
    background-image: radial-gradient(transparent, black);
    z-index: -1;
    width: 100vw;
    height: 100vw;
    position: sticky;
    top: 0;
    bottom: 10vh !important;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
  }
}

@media (max-width: 1024px) {
  .social-media-links {
    flex-direction: row;
    width: 40vw;
    height: auto;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .solar__texture {
    background-image: radial-gradient(transparent, black);
    z-index: -1;
    width: 100vw;
    height: 100vw;
    position: sticky;
    top: 0vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
  }
}
