/* Web fonts */
/* Web fonts */
@font-face {
  font-family: "Acherus Grotesque Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Acherus Grotesque Regular"),
    url("../fonts/AcherusGrotesqueRegular.woff2") format("woff");
}

@font-face {
  font-family: "Acherus Grotesque Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acherus Grotesque Regular Italic"),
    url("../fonts/AcherusGrotesqueRegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Graphik Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Graphik Regular"),
    url("../fonts/GraphikRegular.woff2") format("woff");
}

.whatwedo__container {
  margin: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background: black;
  min-height: 100vh;
}

.whatwedo__heading {
  margin-top: 8vh;
  flex: 1;
  font-family: "Acherus Grotesque Regular";
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.8vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whatwedo__content {
  flex: 10;
}

.card-image {
  max-height: 440px;
}

.card-title {
  color: white;
  font-weight: bold!important;
  font-family: "Graphik Regular";
  margin-bottom: 0px!important;
}

.col {
  padding: 32px!important;
}

.card-content {
  max-height: 25%!important;
  background-color: #120c6e!important;
}

.card-reveal {
  background-color: #120c6e!important;
  color: white;
}